<template>
  <my-input
    :value="modelValue"
    @input="input"
    :placeholderValue="newPlaceholder"
  />
</template>
<script>
export default {
  props: {
    modelValue: {
      required: true,
      type: [String],
    },
    placeholder: [String],
  },
  data() {
    return {
      newPlaceholder: this.placeholder,
    };
  },
  /*     computed: {
        computedValue: {
            get() {
                return this.modelValue
            },
            set(val) {
                const newVal = val
                    .replace(',', '.')
                    .replace(/[^0-9.]/g, '')
                    .replace('.', 'x')
                    .replace(/\./g, '')
                    .replace('x', '.');
                console.log(newVal)
                 //[\d\-\)\(\+ ]+
                this.$emit('update:modelValue',newVal);
            }
        }
    }, */
  methods: {
    input(event) {
      const { value } = event.target;

      let x = value
        .replace(/\D/g, "")
        .match(/(\d{0,1})(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})/);
      x[1] = "+7";
      let val = !x[3]
        ? x[1] + "(" + x[2]
        : x[1] +
          "(" +
          x[2] +
          ")" +
          x[3] +
          (x[4] ? "-" + x[4] : "") +
          (x[5] ? "-" + x[5] : "");

      /*         .replace(/[^-+()0-9]/g, "")
        .replace("+", "x")
        .replace(/\+/g, "")
        .replace("x", "+")
        .replace("(", "x")
        .replace(/\(/g, "")
        .replace("x", "(")
        .replace(")", "x")
        .replace(/\)/g, "")
        .replace("x", ")"); */

      //        .replace(/[^0-9]*[0-9]{12}/g,'')
      /*      if (newVal.match(/\d/g).join('') !== null) {
             if ( newVal.match(/\d/g).join('').length < 12) {
                 console.log('asd')
            }
        } */
      /*       if (newVal.match(/\d/g)?.join("").length >= 12) {
        newVal = newVal.match(/\d/g).join("").slice(0, 11);
      } */
      // console.log(String(newVal).length)
      event.target.value = val;
      this.$emit("update:modelValue", val);
    },
  },
  name: "MyMaskedNumberInput",
};
</script>
