<template>
  <my-input
    :value="modelValue"
    @input="input"
    :placeholderValue="newPlaceholder"
  />
</template>
<script>
export default {
  props: {
    modelValue: {
      required: true,
      type: [String],
    },
    placeholder: [String],
  },
  data() {
    return {
      newPlaceholder: this.placeholder,
    };
  },
  methods: {
    input(event) {
      const { value } = event.target;
      this.$emit("update:modelValue", value);
    },
  },
  name: "MyMaskedEmailInput",
};
</script>
<style scoped></style>
