<template>
  <my-input
    :value="modelValue"
    @input="input"
    :placeholderValue="newPlaceholder"
  />
</template>
<script>
export default {
  props: {
    modelValue: {
      required: true,
      type: [String],
    },
    placeholder: [String],
  },
  data() {
    return {
      newPlaceholder: this.placeholder,
    };
  },
  methods: {
    input(event) {
      const { value } = event.target;

      const newVal = value.replace(/[^a-zA-Zа-яёА-ЯЁ -]/g, "");

      event.target.value = newVal;
      this.$emit("update:modelValue", newVal);
    },
  },
  name: "MyMaskedNameInput",
};
</script>
