<template>
  <div class="app">
    <h1 class="app__title">Регистрация</h1>
    <p class="app__subtitle">
      Уже есть аккаунт?<a href="#" class="app__link">Войти</a>
    </p>
    <form action="" class="form" @submit.prevent="checkForm" novalidate="true">
      <label for="name">Имя</label>
      <MyMaskedNameInput
        id="name"
        v-model="name"
        :placeholder="'Введите Ваше имя'"
      />
      <label for="email" class="label">Email</label>
      <MyMaskedEmailInput
        id="email"
        v-model="email"
        :placeholder="'Введите ваш email'"
        @input="inputValueEmail"
      />
      <div class="d-none" :class="{ invalid: isInvalidEmail }">
        Введено не корректное значение
      </div>
      <label for="phone" class="label">Номер телефона</label>
      <MyMaskedNumberInput
        id="phone"
        v-model="phone"
        :placeholder="'Введите номер телефона'"
        @input="inputValuePhone"
      />
      <div class="d-none" :class="{ invalid: isInvalidPhone }">
        Введено не корректное значение
      </div>

      <label for="lang" class="label">Язык</label>
      <custom-select id="lang" v-model="selectedLang" :options="lang" />

      <my-checkbox
        class="checkbox"
        id="checkbox"
        v-model="checkbox"
        :typeValue="'checkbox'"
      />
      <label for="checkbox" class="label"
        >Принимаю <a href="" class="link">условия</a> использования</label
      >
      <my-button :class="{ active: validationForm }" style="margin-top: 15px"
        >Зарегистрироваться</my-button
      >
    </form>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      name: "",
      email: "",
      phone: "",
      selectedLang: "",
      message: "",
      isInvalidEmail: false,
      isInvalidPhone: false,
      lang: [
        { value: "russian", name: "Русский" },
        { value: "english", name: "Английский" },
        { value: "chinese", name: "Китайский" },
        { value: "spanish", name: "Испанский" },
      ],
      checkbox: false,
      errors: [],
    };
  },
  methods: {
    checkForm() {
      if (this.validationForm) {
        console.log("Форма готова к отправке");
      }
    },
    inputValueEmail() {
      let invalidEmail = this.email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/);
      if (invalidEmail === null) {
        this.isInvalidEmail = true;
      } else {
        this.isInvalidEmail = false;
      }
    },
    inputValuePhone() {
      if (this.phone.length < 16) {
        this.isInvalidPhone = true;
      } else {
        this.isInvalidPhone = false;
      }
    },
  },
  computed: {
    validationForm() {
      return this.name.length > 0 &&
        this.phone.length > 0 &&
        this.selectedLang.length > 0 &&
        this.checkbox != false &&
        this.isInvalidEmail === false &&
        this.email.length > 0 &&
        this.isInvalidPhone === false
        ? true
        : false;
    },
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.app {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02),
    0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
  padding: 40px 30px;
  text-align: left;
}
.app__title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 8px;
}
.app__subtitle {
  margin-bottom: 56px;
}
.app__link {
  color: #0880ae;
  margin-left: 6px;
  text-decoration: none;
}
.link {
  color: #0880ae;
  text-decoration: none;
}
.form {
  text-align: left;
}
.checkbox {
  width: auto;
}
.d-none {
  display: none;
}
.invalid {
  display: block;
  color: #ff7171;
  font-size: 14px;
  line-height: 18px;
}
.active {
  background-color: #0880ae;
  border: 1px solid #0880ae;
  color: white;
}
label {
  color: #756f86;
  font-size: 16px;
}
.label {
  margin-top: 30px;
  display: inline-block;
}
</style>
