<template>
  <div class="custom-select" @blur="open = false">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      <p v-if="langDefault == false" class="disabled">Язык</p>
      <p v-else>{{ selected.name }}</p>
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of options"
        :key="i"
        @click="
          selected = option;
          open = false;
          langDefault = true;
          changeOption();
        "
      >
        {{ option.name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "custom-select",
  props: {
    modelValue: {
      type: String,
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      selected: this.default
        ? this.default
        : this.options.length > 0
        ? this.options[0]
        : null,
      open: false,
      langDefault: false,
    };
  },
  methods: {
    changeOption() {
      this.$emit("update:modelValue", this.selected.value);
    },
  },
};
</script>

<style scoped>
.disabled {
  color: #7c9cbf;
}
.selected.open .disabled {
  color: #000;
}
.custom-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  font-size: 13.3px;
  margin-top: 6px;
}

.custom-select .selected {
  background: url("../../assets/bottom.svg") no-repeat right #ddd;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dbe2ea;
  color: #000;
  padding: 15px;
  font-size: 13.3px;
  cursor: pointer;
  user-select: none;
}

.custom-select .selected.open {
  border: 2px solid #0880ae;
  border-radius: 6px;
}

.custom-select .items {
  color: #000;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #dbe2ea;
  background-color: #fff;
  max-width: 400px;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 5px;
}

.custom-select .items div {
  color: #000;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.custom-select .items div:hover {
  background-color: #ebf4f8;
}

.selectHide {
  display: none;
}
</style>
