<template>
    <button class="btn">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        name:'my-button'
    }
</script>

<style  scoped>
.btn {
  background-color: #DBE2EA;;
  padding:18px 0;
  color:#B1B5BF;
  align-self:flex-end;
  border-radius:6px;
  width:100%;
  border: 1px solid #DBE2EA;;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
}
.active {
  background-color: #0880AE;
  border: 1px solid #0880AE;
	color:white;
}
</style>