<template>
  <input class="checkbox" v-model="computedValue" :type="typeValue" />
</template>

<script>
export default {
  name: "my-checkbox",
  props: {
    modelValue: [Boolean],
    typeValue: [String],
  },
  computed: {
    computedValue: {
      get() {
        return this.modelValue;
      },

      set(val) {
        this.$emit("update:modelValue", val);
      },
    },
  },
};
</script>

<style scoped>
.checkbox {
  width: auto;
  border: 1px solid #dbe2ea;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
  margin-right: 8px;
}
</style>
