<template>
  <input class="input" v-model="computedValue" :placeholder="newPlaceholder" />
</template>

<script>
export default {
  name: "my-input",
  props: {
    modelValue: [String],
    placeholderValue: [String],
  },
  data() {
    return {
      newPlaceholder: this.placeholderValue,
    };
  },
  computed: {
    computedValue: {
      get() {
        return this.modelValue;
      },

      set(val) {
        this.$emit("update:modelValue", val);
      },
    },
  },
};
</script>

<style scoped>
.input {
  width: 100%;
  border: 1px solid #dbe2ea;
  padding: 15px;
  margin-top: 6px;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
}
.input::placeholder {
  color: #7c9cbf;
}
.input:focus,
.input:focus-visible {
  outline: none;
  border: 2px solid #0880ae;
  border-radius: 6px;
}
</style>
